<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Write new chat</title>
</head>
<body>
    <form action="/chats" method="POST">
        <input type="text" name="from" placeholder="From" />
        <br /> <br />
        <textarea name="message" placeholder="Message" ></textarea>
        <br /> <br />
        <input type="text" name="to" placeholder="To"/>
        <br /> <br />
        <button type="submit">Send</button>
    </form>
</body>
</html>